.newsletter-container {
  display: flex;
  justify-content: center;
  margin: 7vw 0 7vw 0;
  width: 100vw;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-input {
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  height: 48px;
  margin: 7px;
  padding-left: 5px;
  width: 232px;
}

.newsletter-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 75vw;
}

.newsletter-input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6vw;
  width: 75vw;
}

.newsletter-send-button {
  background: #00C88C;
  border-radius: 4px;
  color: #FFFFFF;
  height: 48px;
  margin: 7px;
  width: 96px;
}

.newsletter-title {
  color: #3D3D3D;
  margin: 0 0 2vw 0;
  text-align: center;
}

.newsletter-p {
  text-align: center;
}

@media screen and (max-width: 415px) {
  .newsletter-text-content {
    width: 85vw;
  }

  .newsletter-title {
    margin: 0 0 20px 0;
  }

  .newsletter-input-container {
    flex-wrap: wrap;
  }

  .newsletter-input-container {
    width: 95vw;
  }

  .newsletter-input, .newsletter-send-button {
    width: 95vw;
  }

  .newsletter-content {
    align-items: center;
    justify-content: center;
  }
}