.header-link {
  color: #FFFFFF;
  text-decoration: none;
}

.become-a-nanny-share {
  background-color: #00C88C;
  border-radius: 4px;
  height: 44px;
  left: 1105px;
  top: 16px;
  width: 234px;
}

.become-a-nanny-share-title {
  color: #FFFFFF;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.left-nav {
  align-items: center;
  display: flex;
  margin: 0 10px 0 10px;
  width: 50vw;
}

.right-nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 15px 0 0;
  padding-right: 10px ;
  width: 50vw;
}

.left-links {
  display: flex;
  justify-content: space-between;
  width: 30vw;  
}

.right-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.shape-container {
  margin-right: 10px;
}

@media screen and (max-width: 415px) {
  .left-links {
    display: none;
  }

  .right-links {
    width: 100vw
  }

  .header-link {
    display: none;
  }
}